<div class="modal fade" id="modalEvento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h5 class="modal-title">Agenda</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div>
                        <p class="text-center">10/10/10  10:10  Evento1</p>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ex aspernatur itaque minus laborum officia molestias, eum possimus modi vel quaerat, fuga dolor quia corrupti quo facere quam aperiam. Libero?</p>
                    </div>
                     <div>
                        <p class="text-center">10/10/10  10:10  Evento2</p>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ex aspernatur itaque minus laborum officia molestias, eum possimus modi vel quaerat, fuga dolor quia corrupti quo facere quam aperiam. Libero?</p>
                    </div>
                     <div>
                        <p class="text-center">10/10/10  10:10  Evento3</p>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ex aspernatur itaque minus laborum officia molestias, eum possimus modi vel quaerat, fuga dolor quia corrupti quo facere quam aperiam. Libero?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>