<div class="modal fade" id="modalDicas" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dicas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div>
                        <p class="text-center">Dicas para uma vida saudável</p>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ex aspernatur itaque minus laborum officia molestias, eum possimus modi vel quaerat, fuga dolor quia corrupti quo facere quam aperiam. Libero?</p>
                    </div>
                    <div>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ex aspernatur itaque minus laborum officia molestias, eum possimus modi vel quaerat, fuga dolor quia corrupti quo facere quam aperiam. Libero?</p>
                    </div>
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ex aspernatur itaque minus laborum officia molestias, eum possimus modi vel quaerat, fuga dolor quia corrupti quo facere quam aperiam. Libero?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>