@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}

<div class="row mt-4">
    <div class="col-md-4 mx-auto">
        <section>
            <h2>Iniciativa Saúde da Cidade</h2>
            <br/>
            <p class="text-justify">
                <strong>Texto sobre vida saudável:</strong> Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem deserunt nobis qui cumque architecto temporibus expedita.
            </p>
            <p class="text-justify">
                <strong>Texto sobre vida iniciativa:</strong> Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, harum tempore! Accusantium nisi pariatur magnam quod deserunt? Quam quaerat nulla amet reiciendis, beatae fugiat neque magnam voluptas iusto asperiores? Itaque? 
            </p>
        </section>
    </div>
    <div class="col-md-6">
        <img src="~/images/saudável.jpg">
    </div>
</div>  

<div class="row" id="parte2">
    <div class="col-md-4 mx-auto">
        <section class="contato">
            <div class="container">
                <form action="/Home/Cadastrar" method="POST">
                   <span>@ViewData["Mensagem"]</span>
                    <h1>Entre em contato!</h1>  
                    <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>  
                    <div class="justify-content-md-center right">
                        <div class="form-group">
                            <input type="text" asp-for="Nome" class="form-control form-control-lg" placeholder="Seu Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" asp-for="Email" class="form-control form-control-lg" placeholder="seu_email@email.com"  data-toggle="tooltip" data-placement="right" title="Seu email não será divulgado nem compartilhado">
                        </div>
                        <div class="form-group">
                            <textarea asp-for="Mensagem" class="form-control form-control-lg" placeholder="Deixe sua mensagem (Opcional)"></textarea>
                        </div class="d-flex justify-content-end ml-10">
                        <input type="submit" class="btn btn-secondary" value="Enviar">
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="col-md-6 d-flex flex-row" id="links">
        <div class="p-4 text-center">
            <img src="~/images/dicas1.jpg">
            <div>
                <button class="btn btn-link" onclick="Evento()"><strong>Agenda</strong><br/>de eventos</button>
            </div>    
        </div>
        <div class="p-4 text-center">
            <img src="~/images/dicas2.jpg">
            <div>
                <button class="btn btn-link" onclick="Dica()"><strong>Dicas</strong><br/> vida saudável</button>
            </div> 
        </div>
        <div class="p-4 text-center">
            <img src="~/images/apoiadores.png">
            <div>
                <button class="btn btn-link" onclick="Apoio()"><strong>Apoiadores</strong></button>
            </div>
        </div>
    </div>
</div>


<partial name="_ModalEventos" />
<partial name="_ModalDicas" />
<partial name="_ModalApoiadores" />